@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Merriweather:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
}

.bg-header {
    background: url('images/bg headline.png') center/cover no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    transition: all 0.3s ease;
}

#logo {
    width: 300px;
    height: auto;
    object-fit: contain;
    margin-top: -10px;
    margin-left: -67px;
}

nav {
    display: flex;
    gap: 40px;
    margin-top: -3px;
    margin-right: -30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
    padding: 20px;
}

nav a:hover {
    color: #F2FF3D;
}

.nav-item.letsconnect {
    padding: 10px;
    border: 2px solid #F2FF3D;
}

.nav-item.letsconnect:hover {
    background-color: #F2FF3D;
    color: black;
}

.remarks-container {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    max-width: 900px;
    margin-left: 40px;
    text-align: left;
    padding: 20px;
    
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 2.7rem;
}

.remarks {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1.2rem;
    color: white;
    margin-top: 250px;
    padding: 90px 90px 40px;
    text-align: justify;
}

.remarks p {
    font-size: 1.7rem;
}

.get-started-btn {
    background-color: #F2FF3D;
    color: black;
    border: none;
    padding: 12px 49px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
    transition: background-color 2s ease;
}

.get-started-btn:hover {
    background-color: #e4db61;
}

.tcontent {
    position: relative;
    left: 20px;
    background: whitesmoke;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    margin: -10px;
}

.tcontent h3 {
    margin-bottom: 8px;
    font-size: 30px;
}

ol {
    margin-left: 20px;
    font-size: 18px;
}

ul {
    margin-left: 40px;
}

section {
    padding: 40px 8%;
}

.cyber-section {
    padding: 70px 10%;
    font-family: Arial, sans-serif;
    
}

.cyber-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 100px;
}

.cyber-img {
    width: 350px;
    height: 350px;
    background: url('images/cyberimg2.jpg') center/cover no-repeat;
    border-radius: 12px;
    background-color: #333;
}

.cyber-text {
    width: 55%;
}

.cyber-text h2 {
    font-size: 40px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 12px;
}

.cyber-text p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #fff;
}

.triad {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.triad-item {
    background: white;
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    font-weight: bold;
    font-size: 18px;
}

.why-cyber-cards {
    width: 100%;
    padding: 50px 20px;
    text-align: center;
}

.why-cyber-cards h2 {
    margin-top: -30px;
    font-size: 40px;
    margin-bottom: 40px;
    color: #fff;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 1400px;
    margin: 0 auto;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    border-left: 5px solid #0099ff;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: #0099ff;
    font-weight: 600;
}

.card p {
    color: #333;
    line-height: 1.6;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .get-started-btn {
        font-size: 1.2rem;
        padding: 10px 20px;
    }
    .remarks-container {
        width: 75%;
        padding: 10px;
    }
    .remarks {
        font-size: 0.5rem;
    }
    .remarks p {
        font-size: 0.5rem;
    }
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    padding-left: 50px;
    font-family: Arial, sans-serif;
}

.cyberattack {
    color: white;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
}

.cyberattack h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.cyberattack p {
    padding-bottom: 15px;
    font-size: 23px;
}

.cyberthreats h2 {
    font-size:35px;
    margin-bottom: 25px;
}

.cyberthreats ol {
    line-height: 1.6;
}

.cyberthreats li {
    font-size: 1.2em;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.how-attacks-happens {
    color: white;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 30px;
}

.how-attacks-happens h2 {
    font-size: 40px;
    margin-bottom: 25px;
}

.how-attacks-happens p {
    padding-bottom: 20px;
    font-size: 23px;
}

.protect-yourself {
    color: white;
    font-size: 1.2em;
    line-height: 1.7;
    margin-left: 240px;
    margin-right: 120px;
    text-align: justify;
}

.protect-yourself h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
}

.protect-yourself ul {
    line-height: 1.6;
}

.protect-yourself li {
    font-size: 20px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.site-footer {
    width: 100%;
    margin: 0;
    padding: 40px 60px;
    background-color: #000;
    font-size: x-large;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
}

.footer-nav ul li {
    margin-bottom: 10px;
}

.footer-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.footer-nav ul li a:hover {
    color: #F2FF3D;
}

.locate-btn {
    background-color: #F2FF3D;
    color: black;
    border: none;
    font-size: medium;
    padding: 12px 30px;
    margin-left: 10px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.icons {
    text-align: center;
    margin: 10px 0;
}

.icons .fa {
    color: yellow;
    margin: 0 15px;
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.icons .fa:hover {
    color: #F2FF3D;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #aaa;
}
